{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <title>Calculus</title>
    <!-- CSS file linked -->
    <link href="{% static 'css/calculus_styles.css' %}" rel="stylesheet">
</head>
<body>
    <header>
        <h1 class="logo">Calculus</h1>
        <nav>
            <ul>
                <li class="nav1"><a href="/">Home</a></li>
                <li class="nav1"><a href="{% url "calculus-ask" %}" id="createPostBtn">Ask a question</a></li>
            </ul>
        </nav>
    </header>

    <h2>Questions</h2>
    <ul>
        {% for q in questions %}
            <li>
                <h3>Title: {{ q.title }}</h3>
                <h4>Category: {{ q.category }}</h4>
                <p>{{q.description}}</p>
                <br>
                <p>Published Date: {{ q.published_date|date:"Y-m-d" }}</p>
                  
            </li>
        {% endfor %}
    </ul>





    {% comment %} <main class="post-container">
        <div id="createPostModal" class="modal">
            <div class="modal-content">
                <span class="close" id="closeModal">×</span>
                
                <h2>Create a New Post</h2>
                <form id="postForm" method="post">
                    <div class="upper">
                        <div class="title">
                            <label class="postheading" for="postTitle">Title</label>
                            <input type="text" class="postTitle" id="postTitle" name="postTitle" autocomplete="off" required>
                        </div>
                        <div class="category1">
                            <label class="postheading" for="postCategory">Category</label>
                            <input type="text" class="postCategory" id="postCategory" name="postCategory" autocomplete="off" required>
                        </div>
                    </div>
                    <label class="postheading" for="postDescription">Description</label>
                    <textarea class="postDescription" id="postDescription" name="postDescription" autocomplete="off" required></textarea>
                    <button type="submit" id="postSubmitBtn" class="postSubmitBtn">Post</button>
                </form>
            </div>
        </div>
        <!-- Detail Modal -->
        <div id="postDetailModal" class="modal">
            <div class="modal-content">
                <span class="close" id="closeDetailModal">×</span>
                <h1 id="detailTitle"></h1>
                <span id="detailDate"></span>
                <p id="detailDescription"></p>
            </div>
        </div>
        <div id="postCreatedMessage" class="post-message">Post created successfully!</div>
    </main> {% endcomment %}
    <!-- JavaScript file linked -->
    <script src="{% static 'js/calculus.js' %}"></script>
</body>
</html>
